<ion-view view-title="Dashboard">
  <ion-content class="padding" scroll= "false">
    <h1 class="h1head"> 
    IMPACT EVENTS</h1>
    <p  class="DashP1">
  UPCOMING EVENTS
    </p>
    <table style="width:100%">
    <tr>
    <td id="td1">Night of worship(NOW) 2016</td>
    <td id="td2">Camp meeting (Joint)</td>
    </tr>
    <tr>
    <td id="td3">Evangelism Outreach </td>
    <td id="td4">Impact Conference</td>
    </tr>
    </table>

    <h2 class="DashH2">EVENTS LINE UP
    </h2>
    <p id="EVP1">Night of worship(NOW) 2016 | 24 june 2016 | stluke Greendale</p>
    <p id="EVP2">Camp meeting (Joint) | 11 -14 August 2016 | Nyanga, Dabuka Lodges</p>
    <p id="EVP3">Evangelism Outreach | 3 September | Kamfinsa Shoping centre</p>
    <p id="EVP4">Impact Conference | 27-30 October | Church/Local Hotel</p>
    <p id="EVP5">Committee Retreat |18-20 Nov | Retreat centre</p>
    <p id="EVP6">Career Guidence workshop | 10 december |Church</p>
    <p id="EVP7">Mission Trip | 11-18 December | Botswana</p>
    <p id="EVP8"> See More </p>
  </ion-content>
</ion-view>
